.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 2rem;
  margin: 0;
  padding: 2em;
}

.parrafo-home {
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5em; 
}

.titulo-home {
  background-color: #107BD9; 
  padding: 0.2em;
  text-align: center;
  color: white;
}

/* Mobile */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); 
  }
}
