.controls {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .btn-controls {
    width: 30px;
    height: 30px;
    border: solid 1px #8B0000;
    box-shadow: 2px 2px 4px #8B0000;
    margin: 20px;
    background-color: rgba(255, 192, 203, 0.498);
    color: black;
  }

  .btn-controls:hover  {
    background-color: #FFA500;
    color: white;
  }

  .number {
    color: black;
    font-size: 1rem;
  }

  /* Media Queries */
  @media (max-width: 767px) {
    .controls {
      flex-direction: column;
      align-items: center;
    }

    .btn-controls {
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
    }

    .number {
      font-size: 0.9rem;
    }
  }
