/* Paleta de colores */
:root {
    --main-green: #2ecc71; /* Verde principal */
    --dark-green: #27ae60; /* Verde oscuro */
    --light-green: #d1f2eb; /* Verde claro */
    --text-color: var(--main-green); /* Color de texto principal */
}

* {
    box-sizing: border-box;
}
  
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
  
.navbar-brand {
    font-size: 34px;
    font-weight: bold;
    color: var(--text-color);
}
  
.navbar-toggler {
    background-color: #fff;
    border: none;
}
  
.navbar-toggler-icon {
    background-color: var(--dark-green);
}
  
.nav-link {
    color: var(--text-color);
    font-weight: bold;
    font-size: 30px;
}
  
  /* Navbar responsive */
@media (max-width: 768px) {
.navbar {
    padding: 5px;
}
    
.navbar-brand {
    font-size: 20px;
}
  
.navbar-toggler {
    z-index: 9999;
} 
  
.navbar-toggler-icon {
    background-color: var(--text-color);
    z-index: 9999;
}
  
.nav-link {
    font-size: 14px;
}
}