.product-cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    background-color: #107BD9; 
    margin-bottom: 25px;
    width: 100%;
  }
  
  .btn-add {
    padding: .3em;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    background-color: #040718; 
    color: whitesmoke;
    font-size: 1.2rem; 
  }
  
  .btn-add:hover {
    background-color: #E71D57;
    color: white;
  }
  
  .product-price {
    font-weight: bolder;
    font-size: 1.2rem;
    color: whitesmoke; 
  }
  
  .product-name {
    font-size: 1.8rem; 
    color: white;
    margin-top: 10px;
  }
  
  .product-name:hover {
    color: #E71D57;
    font-weight: bold;
  }
  
  .product-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .btn-add {
      font-size: 1rem; 
    }
  
    .product-name {
      font-size: 1.5rem; 
    }
  }
  