.h2-cart {
    background-color: #107BD9; 
    padding: 0.2em;
    text-align: center;
    color: white; 
    font-size: 1.5rem;
}

.img-cart {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 50px;
    border-radius: 10px;
}

.li-cart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: solid 1px rgba(255, 0, 255, 0.271);
    box-shadow: 2px 2px 4px rgba(255, 0, 255, 0.271);
    width: 60%;
    margin: auto;
    margin-top: 20px;
    background-color: #107BD9;
}

.name-cart {
    display: flex;
    text-align: center;
    margin-top: 35px;
    font-size: 1.5rem;
    color: #040718;
}

.price-cart {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;    
    margin-top: 30px;
    margin-bottom: 15px; 
}

.cant-cart {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.delete-icon {
    margin: auto;
    cursor: pointer;
    margin-left: 120px;
    color: #E71D57;
    transition: color 0.3s; 
}

.delete-icon:hover {
    color: whitesmoke; 
}

.empty-cart-p {
    text-align: center;
    padding: 0.5em;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 2rem;
    color: black;
    background-color: #E71D57;
}

.empty-cart-btn {
    display: flex;
    padding: 0.3em;
    font-size: 1.3rem;
    margin: auto;
    margin-top: 50px;
    color: whitesmoke;
    background-color: #107BD9;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; 
}

.empty-cart-btn:hover {
    background-color: #E71D57; 
    color: white;
}

.cart-total {
    font-size: 2rem;
    text-align: center;
    margin: 90px;
    margin-bottom: 30px;
    color: white;
    background-color: #107BD9;
    border-radius: 10px;
    padding: 0.5rem;
}

.vaciar-cart  {
    padding: 0.3em;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: 350px;
    color: whitesmoke;
    background-color: #107BD9;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.vaciar-cart:hover, .comprar-cart:hover, .ver-mas-cart:hover {
    background-color: #E71D57; 
    color: white;
}

.comprar-cart {
    padding: 0.3em;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: whitesmoke;
    background-color: #107BD9;
    border-radius: 10px;
    margin-left: 50px;
    transition: background-color 0.3s, color 0.3s;
}

.ver-mas-cart {
    padding: 0.3em;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: whitesmoke;
    background-color: #107BD9;
    border-radius: 10px;
    margin-left: 50px;
    transition: background-color 0;
}

/* Mobile */
@media (max-width: 767px) {
.li-cart {
    grid-template-columns: repeat(3, 1fr); 
}

.name-cart {
    margin-top: 15px;
    font-size: 1.3rem;
}

.price-cart {
    margin-top: 15px;
    font-size: 1.2rem;
}

.delete-icon {
    margin-left: 80px;
}

.empty-cart-p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 1.3rem;
}

.empty-cart-btn {
    font-size: 1.2rem;
    margin-top: 30px;
}

.vaciar-cart {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
}

.comprar-cart {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}    
}